---
import Layout from '../layouts/Layout.astro';
import Hero from '../sections/Hero.astro';
import End from '../sections/End.astro';
import About from '../sections/About.astro';
export const prerender = false;
---

<Layout>
	<main>
		<Hero />
		<End />
		<About />
	</main>
</Layout>
