<footer
  class="w-full flex justify-between items-center px-6 py-4 border-t border-t-neutral-600 bg-neutral-950"
>
  <a href="https://github.com/hayyrs66" target="_blank">
    <small class="text-white">Made with love.</small>
  </a>
</footer>
