<header
  class="w-full flex justify-between items-center px-6 py-2 fixed top-0 left-0 z-50"
>
  <a class="flex items-center gap-2" href="/">
    <img
      src="/logo.png"
      class="w-7 h-7 object-contain aspect-square"
      alt="Logo of instatool application"
    />
    <h1 class="text-3xl font-medium tracking-tight text-white">Instatool</h1>
  </a>
  <div class="inline-block text-white">
    <a
      href="https://github.com/hayyrs66/instatool"
      target="_blank"
      class="text-lg tracking-tight"
    >
      Github
    </a>
  </div>
</header>
