---
import { Icon } from "astro-icon/components";
---

<section
  class="w-full max-w-4xl mx-auto flex flex-col border border-neutral-700 items-center -translate-y-24 rounded-md h-full min-h-[400px] bg-neutral-950 shadow-md p-4"
>
  <form
    enctype="multipart/form-data"
    class="w-full flex flex-col sm:flex-row"
    method="POST"
    id="input-form"
  >
    <div class="flex-grow flex items-center border-b border-b-neutral-700">
      <input
        type="url"
        class="flex-grow h-full basis-0 border-none outline-none px-4 py-2 bg-neutral-900 text-white placeholder-neutral-500"
        placeholder="https://www.instagram.com/p/C_2VVpBowPg/"
        name="instagram_link"
        id="instagram_link"
      />
      <button
        class="w-12 h-12 flex items-center justify-center text-white bg-blue-500 hover:text-neutral-300 transition-colors"
      >
        <Icon name="send" size={24} class="object-contain" />
      </button>
    </div>
  </form>
  <div
    class="w-full h-full flex flex-col justify-center items-center mt-4"
    id="output-container"
  >
    <div media-container="true" class="w-full flex flex-col gap-2">
      <div
        class="w-full flex h-full max-h-[200px] pb-2 justify-between items-center border-b border-b-neutral-700"
      >
        <div class="flex itmes-center h-full gap-4">
          <img
            width="70"
            height="70"
            src="/square.jpg"
            class="object-contain aspect-square"
            alt=""
          />
          <div>
            <h4 class="text-white text-lg font-medium">Post Title</h4>
            <p class="text-neutral-500 text-sm">Post Description</p>
          </div>
        </div>
        <div class="flex gap-1 items-center">
          <a class="text-blue-500 cursor-pointer text-lg font-medium"
            >Download</a
          >
        </div>
      </div>
    </div>

    <div id="placeholder-message" class="text-center mt-4">
      <h4 class="text-white text-xl font-medium">No Downloads Yet!</h4>
      <p
        class="text-lg max-w-2xl text-center leading-[1.5] mt-4 text-neutral-500"
      >
        Start by entering an Instagram link above to download photos, videos, or
        reels. Your downloads will appear here once they’re ready!
      </p>
    </div>
  </div>
</section>

<script>
  const form = document.getElementById("input-form") as HTMLFormElement;
  const mediaContainer = document.querySelector(
    "[media-container]"
  ) as HTMLElement;
  const placeholderMessage = document.getElementById("placeholder-message");

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData(form);

    try {
      // Send POST request to the API with the form data
      const res = await fetch("/api/postlink", {
        method: "POST",
        body: formData,
      });

      // Handle non-OK responses
      if (!res.ok) {
        console.error("Failed to fetch data:", res.statusText);
        const errorMessage = await res.text();
        console.error("Error message:", errorMessage);
        displayError(errorMessage);
        return;
      }

      // Parse the JSON response
      const data = await res.json();

      console.log("Data received:", data);

      const { username, caption, image } = data;

      if (mediaContainer) {
        mediaContainer.innerHTML = "";

        createMediaElement(mediaContainer, username, caption, image);
      }
      // Hide the placeholder message
      if (placeholderMessage) {
        placeholderMessage.style.display = "none";
      }
    } catch (error) {
      console.error("An error occurred:", error);
      displayError("An unexpected error occurred. Please try again.");
    }
  });

  function createMediaElement(
    mediaContainer: HTMLElement,
    username: string,
    caption: string,
    image: string
  ) {
    // Create and append the image element
    if (mediaContainer && image && username && caption) {
      const div = document.createElement("div");
      div.classList.add(
        "w-full",
        "flex",
        "h-full",
        "max-h-[200px]",
        "pb-2",
        "justify-between",
        "items-center",
        "border-b",
        "border-b-neutral-700"
      );

      const innerDiv = document.createElement("div");
      innerDiv.classList.add("flex", "itmes-center", "h-full", "gap-4");
      const img = document.createElement("img");
      img.width = 70;
      img.height = 70;
      img.src = image;
      img.classList.add("object-contain", "aspect-square");
      img.alt = caption;

      innerDiv.appendChild(img);

      const textDiv = document.createElement("div");
      const h4 = document.createElement("h4");
      h4.classList.add("text-white", "text-lg", "font-medium");
      h4.textContent = username;

      const p = document.createElement("p");
      p.classList.add("text-neutral-500", "text-sm");

      p.textContent = caption;
      
      

      textDiv.appendChild(h4);
      textDiv.appendChild(p);

      innerDiv.appendChild(textDiv);

      const actionDiv = document.createElement("div");
      actionDiv.classList.add("flex", "gap-1", "items-center");
      const a = document.createElement("a");
      a.classList.add(
        "text-blue-500",
        "cursor-pointer",
        "text-lg",
        "font-medium"
      );
      a.textContent = "Download";
      a.href = image;
      a.download = "media";

      actionDiv.appendChild(a);

      div.appendChild(innerDiv);
      div.appendChild(actionDiv);

      mediaContainer.appendChild(div);
    }
  }

  // Function to display error messages to the user
  function displayError(message: string) {
    if (mediaContainer) {
      mediaContainer.innerHTML = `<p style="color: red;">${message}</p>`;
    }
    if (placeholderMessage) {
      placeholderMessage.style.display = "none";
    }
  }

  // Function to toggle the placeholder message based on media content
  function togglePlaceholderMessage() {
    if (
      mediaContainer &&
      placeholderMessage &&
      mediaContainer.children.length > 0
    ) {
      placeholderMessage.style.display = "none";
    } else {
      if (placeholderMessage) placeholderMessage.style.display = "block";
    }
  }

  // Initial check on page load
  togglePlaceholderMessage();
</script>
