---
import { Icon } from "astro-icon/components";
---

<section
  class="w-[calc(100%_-_400px)] flex flex-col items-center h-full min-h-[300px] bg-neutral-950 -translate-y-36 shadow-md"
>
  <form action="" class="w-full">
    <div class="w-full flex border-b border-b-neutral-700">
      <input
        type="url"
        class="flex-grow border-none outline-none px-4 py-2 bg-neutral-900 text-white"
        placeholder="Enter Instagram Link..."
        name="instagram_link"
        id="instagram_link"
      />
      <button class="w-42 text-white bg-blue-500 aspect-square px-2">
        <Icon name="send" size={30} class="object-contain" />
      </button>
    </div>
  </form>
  <div class="w-full h-full flex flex-col justify-center items-center mt-8">
    <h4 class="text-white text-xl font-medium">No Downloads Yet!</h4>
    <p
      class="text-lg text-pretty max-w-2xl text-center leading-[1.5] mt-4 text-neutral-500"
    >
      Start by entering an Instagram link above to download photos, videos, or
      reels. Your downloads will appear here once they’re ready!
    </p>
  </div>
</section>
