---
import { Icon } from "astro-icon/components";
---

<section
  class="w-full max-w-4xl mx-auto flex flex-col items-center translate-y-[-50px] rounded-lg bg-neutral-950 shadow-lg p-6"
>
  <!-- Form Section -->
  <header class="w-full mb-6">
    <form
      enctype="multipart/form-data"
      class="w-full flex flex-col sm:flex-row items-center gap-4"
      method="POST"
      id="input-form"
    >
      <div class="flex w-full border-b border-b-neutral-700">
        <label for="instagram_link" class="sr-only">Instagram Link</label>
        <input
          type="url"
          id="instagram_link"
          class="flex-grow min-w-0 h-12 border-none outline-none px-4 py-2 bg-neutral-900 text-white placeholder-neutral-500 rounded-l-lg sm:rounded-l-md"
          placeholder="https://www.instagram.com/p/C_2VVpBowPg/"
          name="instagram_link"
          required
        />
        <button
          type="submit"
          class="w-12 h-12 min-w-12 flex items-center justify-center text-white bg-blue-500 hover:bg-blue-600 transition-colors rounded-tr-md sm:rounded-r-md"
          aria-label="Submit Instagram Link"
        >
          <Icon name="send" size={24} class="object-contain" />
        </button>
      </div>
    </form>
  </header>

  <!-- Dynamic Content Section -->
  <main class="w-full flex-grow flex flex-col items-center">
    <div
      media-container="true"
      class="w-full flex flex-col gap-6"
      id="output-container"
      aria-live="polite"
    >
      <!-- Dynamically generated content goes here -->
    </div>

    <!-- Placeholder Message -->
    <div
      id="placeholder-message"
      class="flex flex-col justify-center items-center text-center mt-8 py-10 px-6"
    >
      <h4 class="text-white text-xl sm:text-2xl lg:text-3xl font-medium">
        There are no downloads yet!
      </h4>
      <p
        class="text-base sm:text-lg lg:text-xl max-w-xl leading-[1.6] mt-4 text-neutral-500"
      >
        Start by entering an Instagram link above to download photos, videos, or
        reels. Your downloads will appear here once they're ready!
      </p>
    </div>
  </main>
</section>

<script>
  const form = document.getElementById("input-form");
  const mediaContainer = document.querySelector("[media-container]");
  const placeholderMessage = document.getElementById("placeholder-message");

  form?.addEventListener("submit", async (e) => {
    e.preventDefault();

    const formData = new FormData(form);

    try {
      const res = await fetch("/api/content", {
        method: "POST",
        body: formData,
      });

      if (!res.ok) {
        console.error("Failed to fetch data:", res.statusText);
        const errorMessage = await res.text();
        console.error("Error message:", errorMessage);
        displayError(JSON.parse(errorMessage).error || "An error occurred.");
        return;
      }

      const data = await res.json();
      const { username, caption, media } = data;
      const rawCaption: string =
        caption || "No caption available for this post.";
      const displayCaption =
        rawCaption.length > 40 ? rawCaption.slice(0, 40) + "..." : rawCaption;

      if (mediaContainer) {
        mediaContainer.innerHTML = "";
      }
      if (Array.isArray(media) && media.length > 0) {
        media.forEach((item, index) => {
          createMediaElement(
            mediaContainer,
            username,
            displayCaption,
            item.dataUrl,
            item.type,
            item.downloadUrl,
            index + 1
          );
        });
      } else {
        displayError("No media available.");
      }
      if (placeholderMessage) {
        placeholderMessage.style.display = "none";
      }
    } catch (error) {
      console.error("An error occurred:", error);
      displayError("An unexpected error occurred. Please try again.");
    }
  });

  function createMediaElement(
    mediaContainer,
    username,
    caption,
    dataUrl,
    type,
    downloadUrl,
    index
  ) {
    if (mediaContainer && dataUrl && username && caption && type) {
      const div = document.createElement("div");
      div.classList.add(
        "w-full",
        "flex",
        "h-full",
        "max-h-[200px]",
        "pb-2",
        "justify-between",
        "items-center",
        "border-b",
        "border-b-neutral-700"
      );

      const innerDiv = document.createElement("div");
      innerDiv.classList.add("flex", "items-center", "h-full", "gap-4");

      const imageContainer = document.createElement("div");
      imageContainer.classList.add("w-16", "h-16", "relative", "aspect-square");

      const img = document.createElement("img");
      const proxiedURL = `/api/proxy?url=${encodeURIComponent(dataUrl)}`; // Use `dataUrl`
      img.src = proxiedURL;

      img.classList.add("object-contain", "w-full", "h-full", "rounded-md");
      img.alt = caption || "Instagram media";

      imageContainer.appendChild(img);
      innerDiv.appendChild(imageContainer);

      const textDiv = document.createElement("div");
      const h4 = document.createElement("h4");
      h4.classList.add("text-white", "text-lg", "font-medium");
      h4.textContent = username;

      const p = document.createElement("p");
      p.classList.add("text-neutral-500", "text-sm");
      p.textContent = caption;

      const span = document.createElement("span");
      span.classList.add("text-blue-300", "text-xs");
      span.textContent = type === "video" ? "Video" : "Image";

      textDiv.appendChild(h4);
      textDiv.appendChild(p);
      textDiv.appendChild(span);

      innerDiv.appendChild(textDiv);

      const actionDiv = document.createElement("div");
      actionDiv.classList.add("flex", "gap-1", "items-center");
      const a = document.createElement("a");
      a.classList.add(
        "text-blue-500",
        "cursor-pointer",
        "text-lg",
        "font-medium"
      );
      a.textContent = "Download";

      if (type === "video" && downloadUrl) {
        a.href = downloadUrl;
        a.setAttribute("download", `instagram_video_${index}.mp4`);
      } else {
        a.href = proxiedURL;
        a.setAttribute("download", `instagram_image_${index}.jpg`);
      }

      actionDiv.appendChild(a);

      div.appendChild(innerDiv);
      div.appendChild(actionDiv);

      mediaContainer.appendChild(div);
    }
  }

  function displayError(message) {
    if (mediaContainer) {
      mediaContainer.innerHTML = `<p class="text-red-500">${message}</p>`;
    }
    if (placeholderMessage) {
      placeholderMessage.style.display = "none";
    }
  }

  function togglePlaceholderMessage() {
    if (
      mediaContainer &&
      placeholderMessage &&
      mediaContainer.children.length > 0
    ) {
      placeholderMessage.style.display = "none";
    } else {
      if (placeholderMessage) placeholderMessage.style.display = "flex";
    }
  }

  togglePlaceholderMessage();
</script>
