<section class="w-full h-full flex justify-center pb-16 px-6 bg-neutral-950">
  <div class="w-full flex flex-col items-center gap-4">
    <h3 class="text-xl text-neutral-600 font-medium">About</h3>
    <h2 class="text-6xl text-white font-medium">Instatool</h2>
    <p
      class="text-md text-center max-w-4xl text-neutral-400 text-pretty leading-[1.5]"
    >
      This is an open-source project designed to make downloading Instagram
      posts, carousels, and reels simple and hassle-free. Built with user
      privacy in mind, it’s completely ad-free and tracking-free, offering a
      clean and respectful experience.
      We believe in transparency and community. If you’re interested in how it
      works or want to contribute, feel free to explore the source code on <a
        href="https://github.com/hayyrs66/instatool"
        target="_blank"
        class="text-blue-400 hover:text-blue-500 transition-colors">GitHub</a
      >.
    </p>
  </div>
</section>
