<section
  class="w-full h-screen bg-[url(/gradient-70.png)] bg-top bg-cover flex justify-center items-center"
>
  <div class="w-full flex flex-col justify-center items-center">
    <h2
      class="font-bold text-6xl max-w-3xl text-center text-balance text-white"
    >
      Download Instagram Content Instantly
    </h2>
    <p
      class="text-xl text-pretty max-w-2xl text-center leading-[1.5] mt-6 text-white"
    >
      Easily save your favorite Instagram photos, videos, and reels in just a
      few clicks. Fast, secure, and completely hassle-free.
    </p>
  </div>
</section>
